@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&display=swap");
.vari {
  font-weight: 700;
  font-size: 3rem;
  color: #003349 !important;
  font-family: "Libre Franklin", sans-serif;
}
@media screen and (max-width: 600px) {
  .vari {
    font-size: 2rem !important;
    text-align: center;
  }
}

.header-ul > li {
  display: inline;
  margin: 1em;
}

.searchbtn {
  border: none;
  background-color: white;
}

.search {
  border: 2px solid rgb(62, 149, 199);
}
.search :hover {
  border: 2px solid rgb(26, 245, 227);
}

.search input {
  border: none;
}

.dropdown-item {
  max-width: 1600px;
  padding-left: 5em;
  padding-right: 5em;
}

@media screen and (min-width: 992px) {
  .mask {
    display: none;
    background-color: #000;
    opacity: 0.7;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    position: absolute;
  }
  .unmasked {
    z-index: 10000;
    background-color: white;
  }
  .mega {
    z-index: 10000;
    background-color: white !important;
    width: 100vw;
    height: calc(50vh + 100%);
    inset: 30% auto auto 0 !important;
  }
}
.dropdown-child {
  z-index: 9999;
  padding: 0px !important;
}
.dropdown-child ul {
  display: flex;
}
.dropdown-child ul li {
  width: 30%;
  margin-right: 1em;
}
.dropdown-child ul li a {
  font-size: 18px;
  font-weight: 600;
}
.dropdown-child ul li ul {
  margin-top: 0.5em;
  margin-bottom: 2em;
  list-style-type: none;
  display: block !important;
  padding-left: 0px;
}
.dropdown-child ul li ul li {
  margin: 2%;
}

.prodSub {
  background-color: #f0f0f0;
  height: calc(50vh + 100%);
}
.prodSub img {
  max-height: 100%;
  max-width: 100%;
}
.prodSub h6 {
  font-weight: bold;
}
.prodSub a {
  text-decoration: underline !important;
  color: #409fc2 !important;
  font-weight: bold;
}

.mega {
  width: 100vw !important;
  z-index: 999;
}

@media screen and (max-width: 600px) {
  .accordion ul {
    display: none;
  }
}

* {
  margin: 0;
}

body {
  overflow-x: hidden;
  max-width: 100%;
}

.site-btns {
  border: 2px solid black !important;
  border-radius: 0px !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
}

.items-carousel-title {
  font-size: 1.2rem;
}

div.card-desc > p {
  font-weight: 400 !important;
  font-size: 1.15rem;
}

div.card-desc {
  margin-top: calc(5px * height * 1);
}

.coverFace h3 {
  font-weight: 700;
  font-size: 4rem;
  color: #003349 !important;
  font-family: "Libre Franklin", sans-serif;
}
.coverFace button {
  color: #003349;
  background-color: #084c69 !important;
  color: white;
  width: 50%;
  line-height: 2.7rem;
  border: none !important;
}
.coverFace button:hover {
  background-color: #0f8dc4 !important;
  color: white;
}
@media screen and (max-width: 1200px) {
  .coverFace {
    width: 100%;
    padding: 2rem !important;
    margin: 1rem !important;
  }
  .coverFace p {
    font-size: 0.8rem;
  }
  .coverFace h3 {
    font-size: 1.4rem;
  }
  .coverFace #learn {
    margin-left: 2em !important;
  }
}
@media screen and (max-width: 600px) {
  .coverFace {
    width: 100%;
    padding: 0rem !important;
    margin: 0rem !important;
  }
  .coverFace p {
    font-size: 0.9rem;
  }
  .coverFace h3 {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1200px) {
  .coverFace {
    width: 75%;
    margin: 1rem !important;
  }
}

.card-header {
  background-color: white !important;
}
.card-header h3 {
  color: rgba(0, 127, 173, 0.8470588235) !important;
}

.card-body {
  background-color: #f2f1ee !important;
  color: black;
}

.samples p {
  font-size: 1rem !important;
}

.service {
  text-align: left;
}
@media screen and (max-width: 600px) {
  .service {
    font-size: 2rem !important;
    text-align: center;
  }
}

.compare {
  width: 75%;
}
@media screen and (max-width: 600px) {
  .compare {
    width: 100% !important;
  }
}

@media screen and (max-width: 600px) {
  .myfooter .info p {
    font-size: 16px;
  }
  .myfooter .info div {
    margin: 1rem;
  }
  .myfooter .terms {
    font-size: 12px;
    margin: 1rem;
    width: 65%;
  }
}
.myfooter #bbb {
  margin-top: 5%;
  width: 150px;
  height: 50px;
}
.myfooter .contact-img {
  width: 40px;
  height: 40px;
  margin: 1%;
}
.myfooter a {
  text-decoration: none;
}
.myfooter .footerend {
  margin-left: auto;
  margin-right: auto;
  padding-left: 5rem;
  padding-right: 5rem;
}
@media screen and (max-width: 600px) {
  .myfooter .footerend {
    padding: 0px;
    justify-content: center;
  }
}
.myfooter .signup {
  background-color: #e6e8e9;
}
.myfooter .signup .title {
  font-size: 1.2rem;
  padding: 0px;
  margin: 0px;
  color: #0090cb;
  font-weight: 500 !important;
}
.myfooter .signup p {
  font-weight: 400 !important;
}
.myfooter .signup ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.myfooter .signup ul li {
  margin-top: 1rem;
}
@media screen and (max-width: 600px) {
  .myfooter .signup {
    padding: 1rem;
  }
  .myfooter .signup section {
    margin-top: 5%;
  }
  .myfooter .signup p {
    font-size: 1rem !important;
  }
  .myfooter .signup ul li {
    font-size: 0.7rem !important;
  }
  .myfooter .signup h3 {
    text-align: left;
  }
}
.myfooter .compare form {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .myfooter .compare form {
    flex-direction: column;
  }
}
.myfooter h3 {
  font-weight: 700;
  font-size: 4rem;
  color: #003349 !important;
  font-family: "Libre Franklin", sans-serif;
}
.myfooter button {
  color: #003349;
  background-color: #084c69 !important;
  color: white;
  width: 50%;
  line-height: 2.7rem;
  border: none !important;
  width: 25% !important;
  border: none !important;
  border-radius: 0;
}
.myfooter button:hover {
  background-color: #0f8dc4 !important;
  color: white;
}
.myfooter input {
  line-height: 2rem;
  border-radius: 0;
}
@media screen and (max-width: 600px) {
  .myfooter .form {
    font-size: 0.8rem !important;
    font-weight: 500 !important;
  }
  .myfooter .form input {
    width: 60% !important;
  }
  .myfooter .form button {
    width: 40% !important;
  }
}

/*# sourceMappingURL=styles.css.map */
