@import './styles/myheader';
@import "./styles/_coverface.scss";
@import "./styles/_card.scss";
@import "./styles/_myfooter.scss";

@mixin btns{
    border: 2px solid black !important;
    border-radius: 0px !important;
    font-size: 1rem !important;
    font-weight:500 !important;
}
@mixin desc{
    font-weight: 400 !important;
    font-size: 1.15rem;
}

*{
    margin:0;
}
body{
    overflow-x: hidden;
    max-width: 100%;
}

.site-btns{
    @include btns;

}

.items-carousel-title{
    font-size: 1.2rem;

}
div.card-desc > p{
    @include desc;

}
div.card-desc{
    margin-top: calc(5px * (height*1));
}


.coverFace{
    @include coverFace;
}
.card-header{
    
    @include card-header;
}
.card-body{
    @include card-body;
}
.samples p{
    font-size:1rem !important;
}
.service{
    text-align: left;
    @media screen and (max-width:600px) {
        
            font-size:2rem !important;
            text-align: center;
    }
}
.compare{
    width:75%;
    @media screen and (max-width:600px) {
        width:100% !important;
    }
}
.myfooter{
    @include myfooter;
}
