@import './styles/myheader';
@import "./styles/_coverface.scss";
@import "./styles/_card.scss";
@import "./styles/_myfooter.scss";
@import "./styles/myheader_mobile";

@mixin btns{
    border: 2px solid black !important;
    border-radius: 0px !important;
    font-size: 1rem !important;
    font-weight:500 !important;
}
@mixin desc{
    
    font-weight: 400 !important;
    font-size: 1.15rem;
}

*{
    margin:0;
}
body{
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

.site-btns{
    @include btns;

}

.items-carousel-title{
    font-size: 1.2rem;

}
div.card-desc > p{
    @include desc;

}


.coverFace{
    @include coverFace;
}
.card-header{
    
    @include card-header;
}
.card-body{
    @include card-body;
}
@media screen  and (max-width:600px){
    #comp-items1{
        align-items: center !important;
    }
    #comp-items2{
        align-items: center !important;
    }
    .service{
        font-size:2rem !important;
        text-align: center;
    }
    .compare{
        width:100% !important;
    }
}
.samples p{
    font-size:1rem !important;
}
.service{
    text-align: left;
    
}
.compare{
    width:75%;
}
.myfooter{
    @include myfooter;
}
@media screen and (max-width:992px) {
    
}