@import "./coverbutton";
@import './covertitle';
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&display=swap');

@mixin coverFace{
    h3{
        @include title;
    }
    button{
        @include cover-btn;
    }
    button:hover{
        background-color: #0f8dc4 !important;
        color: white;
    }

    @media screen and (max-width: 1200px) {
        width:100%;
        padding:2rem !important;
        margin: 1rem !important;
        
        p{
            font-size: 0.8rem;
        }
        h3{
            font-size: 1.4rem;
        }
        #learn{
            margin-left: 2em !important;
        }
        
    }

    @media screen and (max-width: 992px) {
        width:100%;
        padding:0rem !important;
        margin: 0rem !important;
        
        p{
            font-size: 0.9rem;
        }
        h3{
            font-size: 1.3rem;
        }
        
    }
    
    @media screen and (min-width:1200px) {
        width:75%;
        margin:1rem !important;
        
    }
}