
.vari{
    font-weight: 700;
    font-size: 3rem;
    color: #003349 !important;
    font-family: "Libre Franklin", sans-serif;
}
@media screen and (max-width:992px) {
    .vari{
       font-size:2rem !important;
        text-align: center; 
    }    
    .upper-options{
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            div.dropdown-menu ul{
                display: flex;
                flex-direction: column;
            }
        }
    }
    .lower-options{
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}
.header-ul > li {
    
        display: inline;
        margin-right:1em;
        
}
.searchbtn{
    border:none;
    background-color: white;
    display: flex;
    align-items: center;
}
.search{
    border:2px solid rgb(62, 149, 199);
    &:hover{
        border:2px solid rgb(62, 149, 199);
    }
    input{
        &:focus{
            outline: none;
        }
    }
}
.search input{
    border:none;
}
.dropdown-menu{
    max-height: 550px;
}
.dropdown-item {
    max-width: 1600px;
    padding-left: 5em;
    padding-right:5em;
    display: flex;
    li{
    }
}
.desktop{
    display:none;
}
.mobile{
    display:block;
}
@media screen and (min-width:993px){
    .mobile{
        display: none;
    }
    .desktop{
        display: block;
        
    }
    .mega{
        z-index: 10000;
        background-color: white !important;
        width:100vw;
        height:calc(50vh + 100%);
        inset: 25% auto auto 0 !important;
        .dropdown-item{
            padding: 0 !important;
            
        }
    }
    .cart{
        position: absolute !important;
        height:calc(3vh + 100%);
        width: 10vw !important;
        top:180% !important;
        a{
            text-align: center;
        }
    }
}
.dropdown-child{
    z-index: 9999;
    padding: 0px !important;
    ul{ 
        display: flex;
        li{

            a{
                font-size:18px;
                font-weight: 600;
            }
            width:30%;
            margin-right: 1em;
            
            ul{
                li{
                    margin:2%;
                }
                margin-top: 0.5em;
                margin-bottom: 2em;
                list-style-type: none;
                display: block !important;
                padding-left: 0px;
            }
        }
    }
    
}
@media screen and (max-width:1199px) {
    .waste-col{
        display: none ;
    }
}
.prodSub{
    div{
        align-items: center !important;
    }
    background-color: #f0f0f0;
    height:calc(50vh + 100%);
    img{
        max-height:100%;
        max-width:100%;
    }
    h6{
        font-weight: bold;
        font-size: .7525rem;
        white-space: pre-wrap;
        word-wrap: normal;
    }
    a{
        text-decoration: underline !important;
        color: #409fc2 !important;
        font-size: .7525rem;
        font-weight: bold;
        white-space: pre-wrap;
        word-wrap: normal;
    }
    p{
        font-size: .7525rem;
        margin-bottom: 5px !important;
        white-space: pre-wrap;
        word-wrap: normal;
        text-wrap: wrap;
    }
}


.category.mask{
    position: static;
    &.show + .dropdown-menu{
        background: #ccc;
        box-shadow: 0 100vh 0 100vh rgba(0,0,0,.75),0 5px 5px rgba(0,0,0,.75);
        width: 100vw;
        border-width: 1px 0 0;
        border-radius: 0;
        margin-left: -1px;
    }
}

